<body>


	<div id="container">
			<header>
				<div class="wrapper">
					<small>mayonvolcanosoftware@gmail.com | (+63)-926-589-7214</small>
					<!--<nav id="socialmedia">-->
					<ul>
						<!-- <li><a href="#"><img src="../welcome/facebook.png"></a></li> -->
						<li><a href="https://www.facebook.com/dennis.m.basco"> 
							<%= image_tag("welcome/facebook.png", alt: "") %></a></li>
						<li><a href="#"><%= image_tag("welcome/twitter.png", alt: "") %></a></li>
						<li><a href="#"><%= image_tag("welcome/linkedin.png", alt: "") %></a></li>

						<!-- <li><a href="#"><img src="css/images/twitter.png"></a></li> -->
						<!-- <li><a href="#"><img src="css/images/linkedin.png"></a></li> -->
					</ul>
					<!--</nav>-->
					<div style="clear: both;"></div>
				</div>
			</header>
			<!--end header-->

					<nav id="nav">
						<div class="wrapper">
							<h1>MVS STUDIO</h1>
							<ul>
								<li><a href="#">Home</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">Portfolio</a></li>
								<li><a href="#">Contact Us</a></li>
							</ul>

							<div style="clear: both;"></div>

						</div>
					</nav>


			<div id="primary">
				<div class="wrapper">
					<div id="primarytext">
						<h2>Want to take your business to the next level?</h2>
						<h4>Let us help you make your business take advatage of the internet.</h4>
						<input type="submit" id="button" value="HIRE US NOW" name="hire">
					</div>
				</div>

			</div> <!--end primary-->


			<div id="secondary">

				<div class="wrapper">
					<!-- <img src="welcome/imac1.png"> -->
					<%= image_tag("welcome/imac1.png", alt: "") %>
					<div id="secondarytext">
						<h2>We build websites</h2>
						<small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</small>
					</div>
				</div>

			
			</div> <!--end secondary-->

			<div id="tertiary">
				<div class="wrapper">
					<div id="tertiarytext">
							<h2>We support open source</h2>
							<small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</small>
							<div>
							<!-- <img src="css/images/github.png"> -->
							<%= image_tag("welcome/github.png", alt: "") %>
						    </div>
					   <!-- <div style="clear: both;"></div> -->

					</div>

					<!-- <img src="css/images/imac2.png">	 -->
					<%= image_tag("welcome/imac2.png", alt: "") %>
				</div>
				
			</div> <!--end tertiary-->

			<footer>
				<div class="wrapper">
					<p>&copy MAYON VOLCANO SOFTWARE LTD</p>
					<nav>
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#">Portfolio</a></li>
							<li><a href="#">Contact Us</a></li>
						</ul>
					</nav>
				</div>
			</footer>
	</div>
</body>
